Mentally ill inmates in Miami are housed on the "forgotten floor" Judge Steven Leifman says most are there as a result of "avoidable felonies" While CNN tours facility, patient shouts: "I am the son of the president" Leifman says the system is unjust and he's fighting for change .
Harry Potter star Daniel Radcliffe gets £20M fortune as he turns 18 Monday . Young actor says he has no plans to fritter his cash away . Radcliffe's earnings from first five Potter films have been held in trust fund .
NEW: "I thought I was going to die," driver says . Man says pickup truck was folded in half; he just has cut on face . Driver: "I probably had a 30-, 35-foot free fall" Minnesota bridge collapsed during rush hour Wednesday .
Parents beam with pride, can't stop from smiling from outpouring of support . Mom: "I was so happy I didn't know what to do" Burn center in U.S. has offered to provide treatment for reconstructive surgeries . Dad says, "Anything for Youssif"
Five small polyps found during procedure; "none worrisome," spokesman says . President reclaims powers transferred to vice president . Bush undergoes routine colonoscopy at Camp David .
NEW: NFL chief, Atlanta Falcons owner critical of Michael Vick's conduct . NFL suspends Falcons quarterback indefinitely without pay . Vick admits funding dogfighting operation but says he did not gamble . Vick due in federal court Monday; future in NFL remains uncertain .
Aid workers: Violence, increased cost of living drive women to prostitution . Group is working to raise awareness of the problem with Iraq's political leaders . Two Iraqi mothers tell CNN they turned to prostitution to help feed their children . "Everything is for the children," one woman says .
President Bush says Tony Snow "will battle cancer and win"  Job of press secretary "has been a dream for me," Snow says  Snow leaving on September 14, will be succeeded by Dana Perino .
President Bush to address the Veterans of Foreign Wars on Wednesday . Bush to say that withdrawing from Vietnam emboldened today's terrorists . Speech will be latest White House attempt to try to reframe the debate over Iraq .
NEW: President Bush says he and first lady are deeply saddened by the tragedy . Mine Safety and Health Administration chief: We've run out of options. The six men have been trapped underground since August 6 . Seven bore holes drilled into the mountain have found no signs of life .
