The 35-year-old suspect was described as an illegal immigrant from Bangladesh . He was accused of raping a local  woman last month .
Albert Maysles was a pioneering documentarian . Best-known films include "Gimme Shelter," about Rolling Stones Altamont concert . The filmmaker also did "Grey Gardens"
The U.S. Treasury is casting a spotlight on the alleged misdeeds of senior managers at the Banca Privada d'Andorra . The Andorran authorities took over the running of the bank after the Treasury revelations .
"No Guts, No Heart, No Glory" is a play by Common Wealth Theatre that tells the true story of Muslim female boxers . The performance was partly inspired by former UK national champion Ambreen Sadiq who experienced bullying and discrimination . "We want to give them a voice and give them a reason, so they know they can have confidence" says cast member Freyaa Ali about girls in boxing .
Danica Weeks is raising her two young sons without her husband, who was aboard MH370 . Paul Weeks was traveling to Mongolia to work in the mining industry . The MH370 passenger gave his wife his wedding ring before he left, a keepsake for his sons .
This page includes the show Transcript . Use the Transcript to help students with reading comprehension and vocabulary . At the bottom of the page, comment for a chance to be mentioned on CNN Student News.  You must be a teacher or a student age 13 or older to request a mention on the CNN Student News Roll Call.
A boutique in Manhattan offers face workouts and massages . Massage and movement may be detoxifying to your skin .
Scientists find that higher humidity levels cause microbes to flourish on the mummies' skin . Some specimens at a Chile museum have started to decompose into  a "black ooze"
Testimony this week focused on DNA, fingerprints and tire treads . Mother tells Susan Candiotti that court "went very well" for Hernandez . Jurors also heard details about cell phone records and cell towers .
Lawsuits against estate of Nancy Lanza say she was careless and negligent . Her son, Adam, used assault rifle to kill 20 first graders and six adults on December 14, 2012 .
